.header {
  background-color: $dark-blue;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  h1 a {
    color: #fff;
    font-size: 24px;
    font-weight: var(--xbold);
  }

  .nav {
    ul {
      display: flex;
      font-weight: var(--medium);
    }

    li:last-child {
      margin-left: 40px;
    }

    a {
      color: #fff;
    }
  }
}
