
.header .container {
	position: relative;
	padding-top: 18px;
	padding-bottom: 18px;

	@include bp-min-width($medium) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.logo {
	width: 234px;
	height: 60px;
}
