
.header {
	box-shadow: 0 1px 0 rgba(0,0,0,.1)
}

.header .container {
	position: relative;
	padding-top: 12px;
	padding-bottom: 12px;

	@include bp-min-width($medium) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.logo img {
	height: 54px;
}

.sperry-logo img {
	height: 36px;
}
