
.main-nav {
	@include bp-max-width($medium) {
		width: 100%;
		padding-top: 12px;
	}

	@include bp-min-width($medium) {
		@include absolute-center;
	}
}

.main-nav ul {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.main-nav li {
	margin: 0 20px;
}

.main-nav a {
	@include font-size(14px);
	display: inline-block;
	font-family: $sans-title;
	color: $blue;
	font-weight: $weight-medium;
	letter-spacing: .1em;
	text-transform: uppercase;
}
