
.about__title {
	margin-bottom: $base*1.5;

	@include bp-min-width($medium) {
		margin-bottom: $base*3;
	}
}

.team-list {
	max-width: 912px;
	margin: 0 auto;
}

.team-list__item {
	@include bp-min-width($medium) {
		display: flex;
	}
}

.team-list__item:not(:last-child) {
	margin-bottom: $base*2;

	@include bp-min-width($medium) {
		margin-bottom: $base*4;
	}
}

.team-list__image {
	@include bp-max-width($medium) {
		margin-bottom: 18px;
	}

	@include bp-min-width($medium) {
		width: 33%;
	}
}

.team-list__content {
	@include bp-min-width($medium) {
		width: 66.666%;
		padding-left: 40px;
	}
}

.team-list__title {
	margin-bottom: 12px;
}

.team-list__bio {
	margin-bottom: $base;
}

.team-list__phone,
.team-list__email {
	@include font-size(15px);
	font-family: $sans-title;
	font-weight: $weight-medium;
}
