
.home-hero {
	background-image: $home-hero;
}

.home-hero .container {
	@include bp-min-width($medium) {
		padding-top: $base*8;
		padding-bottom: $base*8;
	}
}

.properties-grid {
  @include bp-min-width($xlarge) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
  }
}

.property {
	margin-bottom: $base*2;

	@include bp-min-width($small) {
		display: flex;
	}

	@include bp-min-width($xlarge) {
		width: 50%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.property__thumb {
	@include bp-min-width($small) {
		width: 278px;
	}
}

.property__info {
	padding: 18px 24px;
	background: $lt-grey;

	@include bp-min-width($small) {
		width: calc(100% - 278px);
	}
}

.property__title {
	margin-bottom: 12px;
}

.property__location,
.property__type {
	@include font-size(15px);
}

.property__type {
	margin-bottom: 12px;
}

.home-about {
	display: flex;
}

.home-about__image,
.home-about__content {
	@include bp-min-width($medium) {
		width: 50%;
	}
}

.home-about__image {
	background: $dk-blue $home-about no-repeat center;
	background-size: cover;

	@include bp-max-width($medium) {
		height: 300px;
	}
}

.home-about__content {
	padding: $base*2 20px;
	background: $lt-grey;

	@include bp-min-width($medium) {
		padding: $base*3 5%;
	}
}

.home-about__title {
	margin-bottom: 12px;
}

.featured-properties__title {
	margin-bottom: $base*2;
}

.featured-properties__footer {
	text-align: center;
}
